#welcome{
    background-color: chartreuse;
}
#space1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#space0{
    font-family: monospace;
    font-weight: bold;
    color: coral;
}
#roome{
    background-color: greenyellow;
}
#welc{
    size: 50px;
}
#en{
    size: 30px;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_maindiv {
    border: 1px solid #c7c7c7;
    padding-left:0px;
    padding-right: 0px;
    float: none;
    
}
.travel_maindiv img{
   width: 100%;
    
}
.travel_maindiv hr{
    width:230px
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display:inline-block;
  }  
.movie_head i{
    float: right;
    
} 
.header_entrepreneur{
    line-height:2;
    
    
}
.img_model{
    display: inline;
    
}
.p_modal{
margin-top: 10px;

}
.model-body{
    text-align: center;
    
}
.model-content{
    margin-top: 100px;
}